[submodule "zsh/.config/zsh/custom-oh-my-zsh/plugins/zsh-autosuggestions"]
	path = zsh/.config/zsh/custom-oh-my-zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions/tree/master
