#! /bin/bash
source "$HOME/.config/omat/skriptit/error.sh"

## Aliaksia – ja kun aliakset eivät riitä – aliaksen kaltaisia kikkailuja
## bashin järkevät oletus-aliakset
alias ls='ls --color=always'
alias l='ls -CF'
alias ll='ls -alFh'
alias la='ls -AF'
alias grep='grep --color=force'

## oikeat ohjelmat
alias less='less --RAW-CONTROL-CHARS --quit-if-one-screen --no-init --ignore-case'
alias tree='tree -C'
alias cd..='cd ..'
alias diff='diff --color=always'
alias watch='watch --color'
alias nano='nano -lci'

## omat skriptit tästä alaspäin
alias git-log=~/.config/omat/skriptit/git-log.sh
alias git-branch-descriptions=~/.config/omat/skriptit/git-branch-descriptions.sh
alias git-log=~/.config/omat/skriptit/git-log.sh
alias git-modified-branches=~/.config/omat/skriptit/git-modified-branches.sh

alias f-f-f-find=~/.config/omat/skriptit/f-f-f-find.sh
alias g-g-g-grep=~/.config/omat/skriptit/g-g-g-grep.sh
alias show-usable-colors=~/.config/omat/skriptit/show-usable-colors.sh
alias color-me-logs=~/.config/omat/skriptit/color-me-logs.sh
alias clear='softClear'
alias echo-server-localhost=~/.config/omat/skriptit/echo-server-localhost.sh
alias sha-tarkistin=~/.config/omat/skriptit/sha-tarkistin.sh

## käyttäjä- / ympäristökohtaiset asiat
if [ "$USER" = "c945fvc" ]; then
  alias fmanager='exo-open --launch FileManager'
  alias mvn='mvn --color always'
  alias koira='(~/mqjexplorer/mqjexplorer/MQJExplorer/runme.sh > /dev/null &); echo ""'               ## jostain helkatin syystä ...
  alias keystore='kse %f > /dev/null 2>&1 & disown'
  alias intelliJ='(/opt/kela/intelliJ/2022.3.2/idea-IC-223.8617.56/bin/idea.sh > /dev/null 2>&1 &)'   ## ... näissä ei toimi sama!
  alias intelliJWithLogging='/opt/kela/intelliJ/2022.3.2/idea-IC-223.8617.56/bin/idea.sh'
  alias dbeaver='(/usr/bin/dbeaver &> /dev/null &)'
  alias dbeaverWithLogging='/usr/bin/dbeaver'
  alias mqexplorer='(/opt/ibm/MQ_Explorer/MQExplorer &> /dev/null &)'
  alias mqexplorerWithLogging='/opt/ibm/MQ_Explorer/runwithtrace'
  alias jconsole='(jconsole &> /dev/null &)'
  alias tasks=~/.config/omat/skriptit/tasks.sh
  alias git-pull-all=~/.config/omat/skriptit/git-pull-all.sh
  alias vaihda-java=~/.config/omat/skriptit/vaihda-java.sh
  alias fix-line-endings=~/.config/omat/skriptit/fix-line-endings.sh
  alias liberty-run=~/.config/omat/skriptit/liberty-run.sh
  alias oc-seal=~/.config/omat/skriptit/oc-seal.sh
  export BROWSER=temp_open_google

  function temp_open_google() {
    #! /bin/bash
    (exec google-chrome-stable --enable-blink-features=MiddleClickAutoscroll "$@" &>/dev/null &)
  }
elif [ "$USER" = "juuran" ]; then
  alias tasks=~/.config/omat/skriptit/tasks.sh
fi

## aliaksen kaltaiset funktiot (kaikki ei taivu aliakseksi sen rajoitusten takia)
function perse()  {
  [ -n "$1" ] && local pilkku=", "
  echo -e "\e[0;33m Jep, sanopa muuta$pilkku$*! \e[0m"
}
function llss()   { ll "$@" | less ; }
function lad()    { ls -d "$1"/*/; }
function lld()    { ls -d1 "$1"/*/; }
function softClear() { for i in $(seq 2 $(tput lines)); do echo ""; done; }
