## bashin järkevät oletus-aliakset
alias ls='ls --color=always'
alias l='ls -CF'
alias ll='ls -alFh'
alias la='ls -AF'
alias grep='grep --color=force'

## oikeat ohjelmat
alias less='less --RAW-CONTROL-CHARS --no-init --quit-if-one-screen --ignore-case'
alias tree='tree -C'
alias cd..='cd ..'
alias refresh-zsh='source ~/.zshrc'

## käyttäjä- / ympäristökohtaiset
if [ $USER = c945fvc ]; then
alias fmanager='exo-open --launch FileManager'
alias mvn='mvn --color always'
alias koira='(~/mqjexplorer/mqjexplorer/MQJExplorer/runme.sh > /dev/null &); echo ""'                     ## jostain helkatin syystä ...
alias intelliJ='/opt/kela/intelliJ/2022.3.2/idea-IC-223.8617.56/bin/idea.sh > /dev/null 2>&1 &; disown'   ## ... näissä ei toimi sama!
alias intelliJWithLogging='/opt/kela/intelliJ/2022.3.2/idea-IC-223.8617.56/bin/idea.sh'
alias tasks=~/.config/omat/skriptit/tasks.sh
alias show-tasks=~/.config/omat/skriptit/tasks.sh
alias git-pull-all=~/.config/omat/skriptit/git-pull-all.sh
fi

## omat skriptit tästä alaspäin
alias git-log=~/.config/omat/skriptit/git-log.sh
alias git-branch-descriptions=~/.config/omat/skriptit/git-branch-descriptions.sh
alias git-log=~/.config/omat/skriptit/git-log.sh
alias git-modified-branches=~/.config/omat/skriptit/git-modified-branches.sh

alias f-f-f-find=~/.config/omat/skriptit/f-f-f-find.sh
alias g-g-g-grep=~/.config/omat/skriptit/g-g-g-grep.sh
alias show-usable-colors=~/.config/omat/skriptit/show-usable-colors.sh

## aliaksen kaltaiset funktiot (kaikki ei taivu aliakseksi sen rajoitusten takia)
function llss()   { ll "$@" | less ; }
function error()  { source ~/.config/omat/skriptit/error.sh; error "$@"; }
function fail()   { ( source ~/.config/omat/skriptit/fail.sh; fail "$@" ); }  ## ei haluta kaataa pääistuntoa komentoriviltä...
function perse()  { [ -n "$1" ] && local space=", "; echo -e "\e[0;33m Jep, sanopa muuta$space$@! \e[0m"; }
